# LOOPS

Q.1 Print numbers from 1 to 5 using while loop.

In [1]:
n = 1
while n <= 5:
    print(n)
    n += 1

1
2
3
4
5

Q.2 Calculate sum of 1 to 10 using while loop.

In [4]:
n = 1
sum = 0
while n <= 10:
    sum += n
    n += 1

print(sum)

55

Q.3 Calculate factorial of a number using a for loop.

In [6]:
n = int(input())

fact = 1 

for i in range(1,n+1):
    fact *= i

print(fact)

 4

24

Q.4 Count the number of vowels in a string using a for loop

In [9]:
string = input()
vowels = "aeiouAEIOU"
count = 0

for i in string:
    if i in vowels:
        count += 1

print(count)

 Doraemon

4

Q.5 Print a pattern using nested loops.

In [10]:

num_rows = 5


for i in range(1, num_rows + 1):

    for j in range(1, i + 1):
        print(j, end=" ")  
        
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

Q.6 Generate a multiplication table using nested loops.

In [13]:
size = 10

for i in range(1,size+1):
    for j in range(1,size+1):
        print(i*j,end="\t")

print()

1	2	3	4	5	6	7	8	9	10	2	4	6	8	10	12	14	16	18	20	3	6	9	12	15	18	21	24	27	30	4	8	12	16	20	24	28	32	36	40	5	10	15	20	25	30	35	40	45	50	6	12	18	24	30	36	42	48	54	60	7	14	21	28	35	42	49	56	63	70	8	16	24	32	40	48	56	64	72	80	9	18	27	36	45	54	63	72	81	90	10	20	30	40	50	60	70	80	90	100